<!DOCTYPE html>
<html>
<head>
	<title>3Diqui</title>
</head>
<body>
	<h1>Bienvenido a 3diqui</h1>
	<form>
		<table>
			<tr>
				<td id="1:1" style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
			</tr>
			<tr>
				<td style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
			</tr>
			<tr>
				<td style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
				<td style="border: 1px solid black;"> </td>
			</tr>	
		</table>
	</form>
</body>
</html>