<!DOCTYPE html>
<html>
<head>
	<title>3Diqui</title>
	<style type="text/css">
		.diqui{
			width: 50px;
			height:	50px;
			border: 1px solid black;
			text-align: center
		}
		h1{
			text-align: center;
		}
		.jdos{
			text-align: right;	
		}
	</style>
</head>
<body>
	<h1>Bienvenido a 3diqui</h1>
	<h2>Jugador 1 - O </h2>
	<h2 class="jdos">Jugador 2 - X</h2>
	<form action="/" method="POST">
		<input type="text" name="X">
		<input type="text" name="Y">
		<input type="submit" name="jugar" value="jugar">
	</form>
		<table align="center">
			<tr>
				<td id="1:1" class="diqui"><%= @marca %></td>
				<td class="diqui"> </td>
				<td class="diqui"> </td>
			</tr>
			<tr>
				<td class="diqui"> </td>
				<td class="diqui"> </td>
				<td class="diqui"> </td>
			</tr>
			<tr>
				<td class="diqui"> </td>
				<td class="diqui"> </td>
				<td class="diqui"> </td>
			</tr>	
		</table>
</body>
</html>